/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.04.2015, 20:04:31
    Author     : vitaliy
*/

.edit-in-place span {
    cursor: pointer;
}
.edit-in-place input {
    display: none;
}
.edit-in-place.active span {
    display: none;
}
.edit-in-place.active input {
    display: inline-block;
}
.c_editable {
    height: 20px;
}