<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form editable-form="" class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input ng-change="chenge(user)" type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input ng-change="chenge(user)" type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>      
        <div class="form-group">
          <label> Education: </label>
          <ul>
            <li ng-repeat="education in user.educations.values track by $index">  
              <edit-in-place value="user.educations.values[$index].schoolName" chenge="chenge" onchangevalue="user"></edit-in-place>
              <edit-in-place value="user.educations.values[$index].startDate.year" chenge="chenge" onchangevalue="user"></edit-in-place> - <edit-in-place value="user.educations.values[$index].endDate.year" chenge="chenge" onchangevalue="user"></edit-in-place>
              <edit-in-place value="user.educations.values[$index].fieldOfStudy" chenge="chenge" onchangevalue="user"></edit-in-place>, <edit-in-place value="user.educations.values[$index].degree" chenge="chenge" onchangevalue="user"></edit-in-place>
            </li>     
          </ul>
        </div>
        <div class="form-group">
          <label> Skills: </label>
          &nbsp;
            <span ng-repeat="skill in user.skills.values track by $index">  
                <edit-in-place value="user.skills.values[$index].skill.name" chenge="chenge" onchangevalue="user"></edit-in-place>, 
            </span> 
        </div>
        <div class="form-group">
          <label> Positions: </label>
          <ul>
            <li ng-repeat="position in user.positions.values track by $index">  
              <edit-in-place value="user.positions.values[$index].title" chenge="chenge" onchangevalue="user"></edit-in-place>
              <edit-in-place value="user.positions.values[$index].startDate.year" chenge="chenge" onchangevalue="user"></edit-in-place>/
              <edit-in-place value="user.positions.values[$index].startDate.month" chenge="chenge" onchangevalue="user"></edit-in-place> -
              <edit-in-place value="user.positions.values[$index].endDate.year" chenge="chenge" onchangevalue="user"></edit-in-place>/
              <edit-in-place value="user.positions.values[$index].endDate.month" chenge="chenge" onchangevalue="user"></edit-in-place>
              <edit-in-place value="user.positions.values[$index].company.name" chenge="chenge" onchangevalue="user"></edit-in-place>
            </li>     
          </ul>
        </div>
      </form>
        <div class="form-group">
          <label>This profile can modify:</label>
          &nbsp;
            <span ng-repeat="el in user.editors">  
              {{el.editor.email}}<span ng-hide="$last">, </span>
            </span> 
        </div>
        <button class="btn btn-primary pull-right" ng-click="edit_close()">close</button>
    </div>
  </div>
  <hr>
</div>
