<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  
  <ng-include ng-show="formShow" src="'app/users/edit.html'"></ng-include>
  
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="el in users.data">
        <strong>{{el.user.name}}</strong><br>
        <span class="text-muted">{{el.user.email}}</span>
        <a ng-click="edit(el.user, $index)" class="trash"><span class="glyphicon glyphicon-edit pull-right"></span></a>
    </li>
  </ul>
  <button class="btn btn-primary pull-right" ng-click="action();">Add users</button>
</div>